
@{
    ViewBag.Title = "Get";
}
<main class="main">
    <form action="#" class="reviewForm col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="form-group">
            <label for="review">
                Отзыв:
            </label>
            <textarea placeholder="Оставить отзыв" class="form-control"></textarea>
        </div>

        <div class="form-group text-center">
            <a href="#" role="button" class="btn btn-md btn-warning btnAddReview">Добавить</a>
            <a href="#" role="button" class="btn btn-md btn-danger btnCleanReview">Очистить</a>
        </div>
    </form>
</main>



