@model IEnumerable<ReviewViewModel>

@{
    ViewBag.Title = "Get";
}

<main class="main">
    <div class="newReview">
        <p class="addNewReview bg-primary p-3"> Lorem ipsum dolor sit amet.</p>   
    </div>
    @foreach (var review in Model)
    {
        <span>review.Review</span>
    }
    @using (Html.BeginForm("Add", "Review", FormMethod.Post, new { @class = "reviewForm col-xs-12 col-sm-6 col-md-6 col-lg-4" }))
    {
        <div class="form-group">
            <label for="review">
                Отзыв:
            </label>
            @Html.TextArea("Review", new { @class = "form-control", placeholder = "Оставить отзыв" })
        </div>

        <div class="form-group text-center">
            <input type="submit" class="btn btn-md btn-warning btnAddReview" value="Добавить" />
            <input type="reset" class="btn btn-md btn-danger btnCleanReview" value="Очистить" />
        </div>
    }
</main>
