
@{
    ViewBag.Title = "Get";
}

<main class="main">
    <div class="container">
        <div class="col-md-7">
            <h4>Здесь Вы можете ознакомиться с ценами нашего сервиса:</h4>
            <ul class="priceList">
                <li>1. Комбинированный маникюр - 30 грн. <a>update</a> <a>remove</a> </li>
                <li>2. Однотонное покрытие - 70 грн.</li>
                <li>3. Двойная база - 10 грн.</li>
                <li>4. Укрепление акриловой пудрой - 30 грн.</li>
                <li>5. Укрепление гелием - 50 грн.</li>
                <li>6. Ремонт ногтя - 5 грн.</li>
                <li>7. Матовый эффект - 10 грн.</li>
                <li>8. Добавление дизайна - от 5 грн/ноготь.</li>
                <li>9. Французский дизайн, лунный - 90 грн.</li>
                <li>10. Стемпинг - 20 грн (10 ногтей).</li>
                <li>11. Стразы сваровски - 1грн/шт (большой камень - 2 грн).</li>
                <li>12. Слайдеры - 5 грн/ноготь.</li>
                <li>13. Зеркальная втирка - 10 грн/ноготь.</li>
                <li>14. Снятие гель-лака - 20 грн (покрытие другого мастера)</li>
            </ul>
            <a>add</a>
        </div>
        <div class="col-md-5">
            <img src="#" alt="Alternate Text" />
        </div>
    </div>
</main>

