
@{
    ViewBag.Title = "Get";
}

<main class="main">
    <div class="container">
        <div class="col-md-7">
            <h4>Здесь Вы можете ознакомиться с ценами нашего сервиса:</h4>
            <ol class="priceList">
                <li>
                    <p class="name-procedure">Комбинированный маникюр - 30 грн.</p>
                    <div class="btn-holder">
                        <a href="#" role="button" class="btn btn-default">Добавить</a>
                        <a href="#" role="button" class="btn btn-danger">Очистить</a>
                    </div>
                </li>
                <li>
                    <p class="name-procedure">
                        Однотонное покрытие - 70 грн.
                    </p>
                    <div class="btn-holder">
                        <a href="#" role="button" class="btn btn-default">Добавить</a>
                        <a href="#" role="button" class="btn btn-danger">Очистить</a>
                    </div>
                </li>
                <li>
                    <p class="name-procedure">
                        Двойная база - 10 грн.
                    </p>
                    <div class="btn-holder">
                        <a href="#" role="button" class="btn btn-default">Добавить</a>
                        <a href="#" role="button" class="btn btn-danger">Очистить</a>
                    </div>
                </li>
                <li>
                    <p class="name-procedure">
                        Укрепление акриловой пудрой - 30 грн.
                    </p>
                    <div class="btn-holder">
                        <a href="#" role="button" class="btn btn-default">Добавить</a>
                        <a href="#" role="button" class="btn btn-danger">Очистить</a>
                    </div>
                </li>
                <li>
                    <p class="name-procedure">
                        Укрепление гелием - 50 грн.
                    </p>
                    <div class="btn-holder">
                        <a href="#" role="button" class="btn btn-default">Добавить</a>
                        <a href="#" role="button" class="btn btn-danger">Очистить</a>
                    </div>
                </li>
                <li>
                    <p class="name-procedure">
                        Ремонт ногтя - 5 грн.
                    </p>
                    <div class="btn-holder">
                        <a href="#" role="button" class="btn btn-default">Добавить</a>
                        <a href="#" role="button" class="btn btn-danger">Очистить</a>
                    </div>
                </li>
                <li>
                    <p class="name-procedure">
                        Матовый эффект - 10 грн.
                    </p>
                    <div class="btn-holder">
                        <a href="#" role="button" class="btn btn-default">Добавить</a>
                        <a href="#" role="button" class="btn btn-danger">Очистить</a>
                    </div>
                </li>
                <li>
                    <p class="name-procedure">
                        Добавление дизайна - от 5 грн/ноготь.
                    </p>
                    <div class="btn-holder">
                        <a href="#" role="button" class="btn btn-default">Добавить</a>
                        <a href="#" role="button" class="btn btn-danger">Очистить</a>
                    </div>
                </li>
                <li>
                    <p class="name-procedure">
                        Французский дизайн, лунный - 90 грн.
                    </p>
                    <div class="btn-holder">
                        <a href="#" role="button" class="btn btn-default">Добавить</a>
                        <a href="#" role="button" class="btn btn-danger">Очистить</a>
                    </div>
                </li>
                <li>
                    <p class="name-procedure">
                        Стемпинг - 20 грн (10 ногтей).
                    </p>
                    <div class="btn-holder">
                        <a href="#" role="button" class="btn btn-default">Добавить</a>
                        <a href="#" role="button" class="btn btn-danger">Очистить</a>
                    </div>
                </li>
                <li>
                    <p class="name-procedure">
                        Стразы сваровски - 1грн/шт (большой камень - 2 грн).
                    </p>
                    <div class="btn-holder">
                        <a href="#" role="button" class="btn btn-default">Добавить</a>
                        <a href="#" role="button" class="btn btn-danger">Очистить</a>
                    </div>
                </li>
                <li>
                    <p class="name-procedure">
                        Слайдеры - 5 грн/ноготь.
                    </p>
                    <div class="btn-holder">
                        <a href="#" role="button" class="btn btn-default">Добавить</a>
                        <a href="#" role="button" class="btn btn-danger">Очистить</a>
                    </div>
                </li>
                <li>
                    <p class="name-procedure">
                        Зеркальная втирка - 10 грн/ноготь.
                    </p>
                    <div class="btn-holder">
                        <a href="#" role="button" class="btn btn-default">Добавить</a>
                        <a href="#" role="button" class="btn btn-danger">Очистить</a>
                    </div>
                </li>
                <li>
                    <p class="name-procedure">
                        Снятие гель-лака - 20 грн (покрытие другого мастера)
                    </p>
                    <div class="btn-holder">
                        <a href="#" role="button" class="btn btn-default">Добавить</a>
                        <a href="#" role="button" class="btn btn-danger">Очистить</a>
                    </div>
                </li>
            </ol>
            <div class="row">
                <div class="col-md-12">
                    <a href="#" role="button" class="btn btn-lg btn-success btnAddField">Добавить</a>
                </div>
                <div class="addField col-md-6">
                    <div class="form-group">
                        <label for="newProcedure">
                            Тип процедуры
                        </label>
                        <input id="newProcedure" class="form-control" type="text" name="name" value="Введите процедуру" />
                    </div>
                    <div class="form-group">
                        <label for="procedureCoast">
                            Стоимость
                        </label>
                        <input id="procedureCoast" class="form-control" type="text" name="name" value="Введите стоимость" />
                    </div>
                    <div class="form-group">
                        <a href="#" role="button" class="btn btn-default">Добавить</a>
                        <a href="#" role="button" class="btn btn-danger">Очистить</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-5">
            <img src="#" alt="Alternate Text" />
        </div>
    </div>
</main>

