@model ControlDataViewModel

@{
    ViewBag.Title = "Main";
}

<main class="main">
    <h1 class="main-title text-center">Добро пожаловать в мир красивых ногтей</h1>

    @using (Html.BeginForm("Add", "Procedure", FormMethod.Post, new { @class = "registrationForm col-sm-6 col-md-4" }))
    {
        <div class="formInner">
            <div class="form-group">
                <h3 class="form-title">Онлайн запись</h3>
            </div>
            <div class="form-group">
            </div>
            <div class="form-group timeBlock clearfix">
                @Html.Editor("Date", new { htmlAttributes = new { @class = "form-control", type = "date", placeholder = "Введите дату" } })
                @Html.Editor("StartTime", new { htmlAttributes = new { @class = "form-control", type = "date", placeholder = "Введите время" } })
            </div>
            <div class="form-group">
                @Html.DropDownList("ProcedureId", Model.ProceduresList, new { @class = "form-control selectManipulation" })
            </div>
            <div class="form-group">
                @Html.DropDownList("MasterId", Model.MastersList, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-warning">Записаться</button>
        </div>
    }
    <div class="col-md-4 col-sm-6 mainImg">
        <img src="http://via.placeholder.com/350x250" alt="Alternate Text" />
    </div>
    <div class="col-md-4 col-sm-12">
        <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
</main>
