
@{
    ViewBag.Title = "Get";
}

<main class="main">
    <div class="articleList">
        <div class="articleItem row">
            <a href="#" class="articleLink">Lorem ipsum dolor sit amet, consecteturer</a>
            <div class="btn-holder">
                <a href="#" role="button" class="btn btn-warning">Добавить</a>
                <a href="#" role="button" class="btn btn-danger">Очистить</a>
            </div>
        </div>

        <div class="articleItem row">
            <a href="#" class="articleLink">Lorem ipsum dolor sit amet, consecteturer</a>
            <div class="btn-holder">
                <a href="#" role="button" class="btn btn-warning">Добавить</a>
                <a href="#" role="button" class="btn btn-danger">Очистить</a>
            </div>
        </div>

        <div class="articleItem row">
            <a href="#" class="articleLink">Lorem ipsum dolor sit amet, consecteturer</a>
            <div class="btn-holder">
                <a href="#" role="button" class="btn btn-warning">Добавить</a>
                <a href="#" role="button" class="btn btn-danger">Очистить</a>
            </div>
        </div>

    </div>
</main>

