
@{
    ViewBag.Title = "Get";
}

<main class="main">
    <div class="articleList col-md-8">
        <div class="articleItem row">
            <a href="#" class="articleLink col-md-8">Lorem ipsum dolor sit amet, consecteturer</a>
            <div class="btn-holder col-md-4">
                <a href="#" role="button" class="btn btn-default">Добавить</a>
                <a href="#" role="button" class="btn btn-danger">Очистить</a>
            </div>
        </div>

        <div class="articleItem row">
            <a href="#" class="articleLink col-md-8">Lorem ipsum dolor sit amet, consecteturer</a>
            <div class="btn-holder col-md-4">
                <a href="#" role="button" class="btn btn-default">Добавить</a>
                <a href="#" role="button" class="btn btn-danger">Очистить</a>
            </div>
        </div>

        <div class="articleItem row">
            <a href="#" class="articleLink col-md-8">Lorem ipsum dolor sit amet, consecteturer</a>
            <div class="btn-holder col-md-4">
                <a href="#" role="button" class="btn btn-default">Добавить</a>
                <a href="#" role="button" class="btn btn-danger">Очистить</a>
            </div>
        </div>

    </div>
</main>

