
@{
    ViewBag.Title = "Get";
}

<main class="main">
    <div class="container">
        <div class="articleList">
            <a href="#">10 причин отслоение исскуственного материала. </a>  <a>!!update</a> <a>!!remove</a>
            <a href="#">Материалы для наращивания ногтей.</a>
            <a href="#">Болезни ногтей и дизенфекция.</a>
            <a href="#">Анатомическое строение ногтя.</a>
            <a href="#">История маникюра.</a>
            <a href="#"></a>
            <a>!!add</a>
        </div>
    </div>  
</main>
