
@{
    ViewBag.Title = "Register";
}

<main class="main">
    <form action="#" class="registrNewForm col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="form-group">
            <label for="regLogin">
                Логин:
            </label>
            <input id="regLogin" type="text" name="regLogin" value="Введите логин" class="form-control">
        </div>
        <div class="form-group">
            <label for="regPassword">
                Пароль:
            </label>
            <input id="regPassword" type="text" name="regPassword" value="Введите пароль" class="form-control">
        </div>
        <div class="form-group">
            <label for="regNameUser">
                Имя:
            </label>
            <input id="regNameUser" type="text" name="regNameUser" value="Введите имя" class="form-control">
        </div>

        <div class="form-group text-center">
            <a href="#" role="button" class="btn btn-md btn-warning btnAddUser">Добавить</a>
            <a href="#" role="button" class="btn btn-md btn-danger btnCleanUser">Очистить</a>
        </div>
    </form>
</main>

