@{
    ViewBag.Title = "UserProfile";
}

<main class="main userProfileContainer">
    <div class="row">
        <div class="col-sm-6 text-center">
            <div class="text-center">
            <img src="http://via.placeholder.com/350x250" alt="5" /> 
            </div>
            <p class="userProfileDesclription">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since
            </p>   
        </div>
        <div class="col-sm-6">
            <div class="processBlock">
                <h3 class="processNames text-center">Процессы:</h3>
                <ol class="userList">
                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                    <li>Lorem Ipsum is simply dummy text of the printing.   </li>
                    <li>Lorem Ipsum is simply dummy text of the printing.   </li>
                </ol>
            </div>
            <div class="coursesBlock">
                <h3 class="coursesNames text-center">Курсы:</h3>
                <ol class="userList">
                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                    <li>Lorem Ipsum is simply dummy text of the printing.   </li>
                    <li>Lorem Ipsum is simply dummy text of the printing.   </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="userPhotoTitle text-center">
            Фото работ <a href="#" class="btn btn-warning addPhoto" data-toggle="modal" data-target="#addPhotoWorksModal">Добавить фото</a>
        </h3>
        <div class="gallery-photo">
            <div><img src="http://via.placeholder.com/250x250" alt="1" /><p class="image-description">Lorem ipsum dolor sit.<br/>
                <a href="#" class="btn btn-danger remotePhoto">Удалить фото</a></p></div>
            <div><img src="http://via.placeholder.com/350x250" alt="2" /><p class="image-description"> Lorem ipsum dolor sit amet.<br />
                <a href="#" class="btn btn-danger remotePhoto">Удалить фото</a></p></div>
            <div><img src="http://via.placeholder.com/350x250" alt="3" /><p class="image-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br />
                <a href="#" class="btn btn-danger remotePhoto">Удалить фото</a></p></div>
            <div><img src="http://via.placeholder.com/350x250" alt="4" /><p class="image-description">Lorem ipsum dolor sit.<br />
                <a href="#" class="btn btn-danger remotePhoto">Удалить фото</a></p></div>
            <div><img src="http://via.placeholder.com/350x250" alt="5" /><p class="image-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br />
                <a href="#" class="btn btn-danger remotePhoto">Удалить фото</a></p></div>
            <div><img src="http://via.placeholder.com/350x250" alt="6" /><p class="image-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br />
                <a href="#" class="btn btn-danger remotePhoto">Удалить фото</a></p></div>
            <div><img src="http://via.placeholder.com/350x250" alt="7" /><p class="image-description">Lorem ipsum dolor sit.<br />
                <a href="#" class="btn btn-danger remotePhoto">Удалить фото</a></p></div>
        </div>
    </div>
    <div class="row">
        <h3 class="userDiplomsTitle text-center">
           Дипломы <a href="#" class="btn btn-warning addPhotoDiploms" data-toggle="modal" data-target="#addPhotoDiplomsModal">Добавить фото</a>
        </h3>
        <div class="gallery-diploms">
            <div><img src="http://via.placeholder.com/250x250" alt="1" /><p class="image-description">Lorem ipsum dolor sit.<br />
                <a href="#" class="btn btn-danger remotePhoto">Удалить фото</a></p></div>
            <div><img src="http://via.placeholder.com/350x250" alt="2" /><p class="image-description"> Lorem ipsum dolor sit amet.<br />
                <a href="#" class="btn btn-danger remotePhoto">Удалить фото</a></p></div>
            <div><img src="http://via.placeholder.com/350x250" alt="3" /><p class="image-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br />
                <a href="#" class="btn btn-danger remotePhoto">Удалить фото</a></p></div>
            <div><img src="http://via.placeholder.com/350x250" alt="4" /><p class="image-description">Lorem ipsum dolor sit.<br />
                <a href="#" class="btn btn-danger remotePhoto">Удалить фото</a></p></div>
            <div><img src="http://via.placeholder.com/350x250" alt="5" /><p class="image-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br />
                <a href="#" class="btn btn-danger remotePhoto">Удалить фото</a></p></div>
            <div><img src="http://via.placeholder.com/350x250" alt="6" /><p class="image-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br />
                <a href="#" class="btn btn-danger remotePhoto">Удалить фото</a></p></div>
            <div><img src="http://via.placeholder.com/350x250" alt="7" /><p class="image-description">Lorem ipsum dolor sit.<br />
                <a href="#" class="btn btn-danger remotePhoto">Удалить фото</a></p></div>
        </div>
    </div>

    <!-- Modal add-->
    <div class="modal fade" id="addPhotoWorksModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Добавить фото работ:</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" name="name" value="" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="name" value="" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Добавить</button>
                    <button type="button" class="btn btn-danger">Очистить</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal add-->
    <div class="modal fade" id="addPhotoDiplomsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Добавить фото дипломов:</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" name="name" value="" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="name" value="" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Добавить</button>
                    <button type="button" class="btn btn-danger">Очистить</button>
                </div>
            </div>
        </div>
    </div>
   
</main>