
@{
    ViewBag.Title = "Get";
}

<main class="main">
    <div class="row adress">
        <div class="column text-center">
                <p  class="sity">
                <strong>Адрес:</strong><br/>
                Город Харьков
                ул.Таккопия 18 а
            </p>
            <p class="email">
                <strong>Email: </strong>user@gmail.com
            </p>
            <p class="phone">
                <strong>Номер телефона:</strong> <a href="tel:0933345050">0933345050</a>
</p>
            <strong class="timeWork">Часы работы: 9.00-17.00</strong>
</div>
        <div class="column text-center">
            <img src="http://via.placeholder.com/350x250" alt="Alternate Text" />
        </div>
    </div>

</main>

