
@{
    ViewBag.Title = "Get";
}

<main class="main">
	<div class="adress container">
		<p>
			Адрес:
		</p>
		<p>
			г.Харьков
		</p>
		<p>
			ул.Таккопия 18 а
		</p>
		<p>
			Телефон:
		</p>
		<a href="#" >
			0933345050
		</a>

	</div>
</main>

