@{
    ViewBag.Title = "Get";
}


<main class="main row">
    <div class="col-sm-12 col-md-6">
        <div class="courseEntryForm">
            <div class="clearfix">
                <h3 class="courseTitle text-center">Название</h3>
            </div>
            <div class="courseInner clearfix">
                <div class="form-group clearfix">
                    <strong class="pull-left">Описание</strong>
                    <p class="pull-right">Lorem Ipsum is simply dummy text of the printing a</p>
                </div>
                <div class="form-group clearfix">
                    <strong class="pull-left">Мастер</strong>
                    <p class="pull-right">Lorem Ipsum is simply dummy text of the printing a</p>
                </div>
                <div class="form-group clearfix">
                    <strong class="pull-left">Диплом</strong>
                    <p class="pull-right">Lorem Ipsum is simply dummy text of the printing a</p>
                </div>
                <div class="form-group clearfix">
                    <strong class="pull-left">Дата</strong>
                    <p class="pull-right">С 10 по 20 мая</p>
                </div>
                <div class="form-group clearfix">
                    <strong class="pull-left">Цена <span>1000 грн</span></strong>
                    <span class="icon-users pull-right" aria-hidden="true"></span>
                </div>
                <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                    <a href="#" type="submit" class="btn btn-warning btnCourseEntry">Записаться</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="courseEntryForm">
            <div class="clearfix">
                <h3 class="courseTitle text-center">Название</h3>
            </div>
            <div class="courseInner clearfix">
                <div class="form-group clearfix">
                    <strong class="pull-left">Описание</strong>
                    <p class="pull-right">Lorem Ipsum is simply dummy text of the printing a</p>
                </div>
                <div class="form-group clearfix">
                    <strong class="pull-left">Мастер</strong>
                    <p class="pull-right">Lorem Ipsum is simply dummy text of the printing a</p>
                </div>
                <div class="form-group clearfix">
                    <strong class="pull-left">Диплом</strong>
                    <p class="pull-right">Lorem Ipsum is simply dummy text of the printing a</p>
                </div>
                <div class="form-group clearfix">
                    <strong class="pull-left">Дата</strong>
                    <p class="pull-right">С 10 по 20 мая</p>
                </div>
                <div class="form-group clearfix">
                    <strong class="pull-left">Цена <span>1000 грн</span></strong>
                    <span class="icon-users pull-right" aria-hidden="true"></span>
                </div>
                <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                    <a href="#" type="submit" class="btn btn-warning btnCourseEntry">Записаться</a>
                </div>
            </div>
        </div>
    </div>
</main>