
@{
    ViewBag.Title = "Get";
}

<main class="main">
    <div class="row block-master">
        <div class="col-md-5">
            <img src="http://via.placeholder.com/350x250" alt="Master" />
        </div>
        <div class="col-md-7">
            <h4 class="name-master">Lorem ipsum dolor</h4>
            <p class="about-master">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia commodi quasi dignissimos aliquam eligendi architecto officiis maxime qui, natus eaque blanditiis consequatur dolorem cum nostrum.
                Lorem ipsum dolor sit.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia commodi quasi dignissimos aliquam eligendi architecto officiis maxime qui, natus eaque blanditiis consequatur dolorem cum nostrum.
                Lorem ipsum dolor sit.
            </p>
        </div>
    </div>
    
    <div class="gallery-main">
        <div><img src="http://via.placeholder.com/250x250" alt="1" /><p class="image-description">Lorem ipsum dolor sit.</p></div>
        <div><img src="http://via.placeholder.com/350x250" alt="2" /><p class="image-description"> Lorem ipsum dolor sit amet.</p></div>
        <div><img src="http://via.placeholder.com/350x250" alt="3" /><p class="image-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></div>
        <div><img src="http://via.placeholder.com/350x250" alt="4" /><p class="image-description">Lorem ipsum dolor sit.</p></div>
        <div><img src="http://via.placeholder.com/350x250" alt="5" /><p class="image-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></div>
        <div><img src="http://via.placeholder.com/350x250" alt="6" /><p class="image-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></div>
        <div><img src="http://via.placeholder.com/350x250" alt="7" /><p class="image-description">Lorem ipsum dolor sit.</p></div>
    </div>
</main>



