
@{
    ViewBag.Title = "Get";
}

<main class="main">
    <div class="container">
        <h2>Здесь Вы можете познакомиться с нашими мастерами:</h2>
        <div class="mastersList">
            <div class="col-lg-6">
                <div class="col-sm-4">
                    <img src="#" alt="Alternate Text" />
                </div>
                <div class="col-sm-8">
                    <h4 class="mastersName">Иванова Ольга</h4>
                    <div class="mastersDescription">
                        <p>Телефон:</p>
                        <p>055-858-55-55</p>
                        <p>Краткое описание:</p>
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-sm-4">
                    <img src="#" alt="Alternate Text" />
                </div>
                <div class="col-sm-8">
                    <h4 class="mastersName">Петрова Анна</h4>
                    <div class="mastersDescription">
                        <p>Телефон:</p>
                        <p>055-858-55-55</p>
                        <p>Краткое описание:</p>
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
